main {
  section:first-child {
    padding-top: 7.5rem;
  }
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1.5rem;

  @media (max-width: 768px) {
    padding: 1rem 0.5rem;
  }
}

.bg {
  &-primary {
    background: $primary !important;
    color: white;

    hr {
      border-top-color: white;
    }

    &-light {
      background: $primary-light !important;
    }
  }

  &-secondary {
    background: $secondary !important;
    color: white;

    hr {
      border-top-color: white;
    }
  }

  &-light {
    background: white !important;
  }
}

.dialog-box {
  &::before {
    height: 0;
    width: 0;
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 5rem solid black;
    border-right: 2.5rem solid $primary-light;

    // bottom: 100%;
    // left: 7%;
    // border: solid transparent;
    // content: " ";
    // height: 0;
    // width: 0;
    // position: absolute;
    // pointer-events: none;
    // border-bottom-color: $green;
    // border-width: 10px;
    // margin-left: -10px;
  }
}

.row-info {
  justify-content: flex-end;
  align-content: flex-end;

  i {
    padding: 0.75rem 0.75rem;
  }
}

.itinerary-information {
  font-size: 0.75rem;
  color: $grey;
  
  > div, > span {
    display: inline-block;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;

    &:not(:first-child) {
      margin-left: 0.25rem;
    }
  }

  .fa {
    margin-right: 0.15rem;
  }
}

.trusted-icon {
  margin-right: 0.25rem;
  padding: 0.125rem;
  border: 0.125rem solid;
  border-radius: 100%;
  font-size: 0.6rem;
}
