.btn {
  padding: 0.25rem 1rem;
  border-width: 0.2rem;
  border-radius: $itin-border-radius; 
  box-shadow: $itin-shadow;
  font-weight: 600;
  transition: $itin-transition;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($secondary, 0.4) !important;
  }

  &.btn-primary {
    background-color: $primary;
    border-color: $primary;
    color: white;

    &:active {
      background-color: $primary !important;
      border-color: $primary !important;
    }

    &:hover {
      background-color: rgba($primary, 0.85);
      border-color: rgba($primary, 0.85);
    }
  }

  &.btn-secondary {
    background-color: $secondary;
    border-color: $secondary;
    color: $black;

    &:active {
      background-color: secondary !important;
      border-color: $secondary !important;
    }
  }

  &.btn-light {
    color: $primary;

    &.nav-item {
      padding: 0.25rem 0.75rem;
    }
  }

  &.btn-round {
    padding: 0.45rem;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
  }

  &.btn-slider {
    border: 0.25rem solid $primary;
    color: $primary;
  }

  .nav-link {
    padding: 0.25rem;
  }
}