.card {
  border-radius: $itin-border-radius;
  border: 0;
  box-shadow: $itin-shadow;
  
  .card-body {
    padding: 1.5rem;
  }

  .card-img {
    &-top, &-left {
      border-radius: $itin-border-radius;
    }

    border-radius: $itin-border-radius;
  }

  &.bg-primary {
    color: white;
  }

  .img-display-card {
    position: relative; 
    background-size: cover; 
    background-position: center center; 
    border-radius: $itin-border-radius;

    @media (max-width: 768px) {
      min-height: 10rem;
    }
  }
}