.hooper {
  .hooper-indicator {
    width: 1.5rem;
    height: 0.5rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    background-color: rgba($primary, 0.4);
    transition: $itin-transition;

    &.is-active {
      background-color: $primary;
    }

    &:hover:not(.is-active) {
      background-color: rgba($primary, 0.65);
    }
  }
}