.card {
  border-radius: $itin-border-radius;
  border: 0;
  box-shadow: $itin-shadow;
  
  .card-body {
    padding: 1.5rem;
  }

  .card-img {
    &-top {
      border-radius: $itin-border-radius;
    }
  }

  &.bg-primary {
    color: white;
  }
}