.form-group {
  label {
    color: $black;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
}

.filter-tags {
  padding: 0 !important;
  label {
    font-weight: 400 !important;
  }
}

.input-group {
  .form-control {
    border-radius: $itin-border-radius;
  }

  .input-group {
    &-prepend {
      .input-group-text {
        border-top-left-radius: $itin-border-radius;
        border-bottom-left-radius: $itin-border-radius;
        width: 3rem;
        justify-content: center;
      }
    }

    &-append {
      .input-group-text {
        border-top-right-radius: $itin-border-radius;
        border-bottom-right-radius: $itin-border-radius;
      }
    }
  }
}

.form-input-simplified-line {
  outline: 0;
  padding: 1.25rem 0 !important;
  border: 0;
  border-bottom: $itin-border $primary;
  border-radius: 0 !important;

  &:focus {
    box-shadow: 0;
  }
}

.custom-select {
  border-radius: $itin-border-radius;
  cursor: pointer;
}

.b-form-timepicker {
  &.hidden {
    > .btn {
      display: none;
    }
  }
}