.nav-tabs {
  border: 2px solid $primary;
  border-radius: $itin-border-radius;
  width: fit-content;

  .nav-link {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;

    &.active {
      background: $primary;
      color: white;
    }
  }

  .nav-item {
    &:first-child {
      .nav-link {
        border-top-left-radius: $itin-border-radius;
        border-bottom-left-radius: $itin-border-radius;
      }
    }

    &:last-child {
      .nav-link {
        border-top-right-radius: $itin-border-radius;
        border-bottom-right-radius: $itin-border-radius;
      }
    }
  }
}

.user-option-tabs {
  .nav-tabs {
    margin: 0 auto;
  }
}